* {
    box-sizing: border-box;
}

.seminar-card {
    display: grid;
    grid-template-columns: 150px 1fr 130px;
    gap: 20px;
    padding: 16px;
    background-color: var(--card-bg);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    background-color: var(--card-bg);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    align-items: center;
    
    border: 1px solid var(--border-color);
    border-left: 6px solid #92b28d;
}

.seminar-card-img {
    width: 150px;
    height: 130px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: var(--radius);
    position: relative;
}

.seminar-card-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seminar-lock-badge-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--card-bg);
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.seminar-lock-badge {
    background-color: #92b28d;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seminar-card-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 0;
}

.seminar-card .primary-btn {
    width: 100%;
    white-space: nowrap;
    background-color: #92b28d;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 3px;
    padding:8px;
    justify-content: center;
}

.seminar-card .primary-btn:hover {
    background-color: #83A07F;
}

.seminar-time {
    font-size: 0.75rem;
    color: var(--text-muted);
    margin: 0 0 5px;
}

.seminar-description {
    display: block;
    font-size: 1rem;
    color: var(--text-main);
    margin: 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.seminar-card--locked h3,
.seminar-card--locked .seminar-description,
.seminar-card--locked .seminar-time {
    opacity: 0.5;
}

@media screen and (max-width:768px) {
    .seminar-card {
        display: flex;
        flex-direction: column;
        padding: 20px !important;
        align-items: flex-start;
        gap: 10px;
    }

    .seminar-card-info {
        max-width: 100%;
    }

    .seminar-card-btn {
        display: flex;
    }
    .seminar-card-img {
        width: 100%;
        height: auto;
        aspect-ratio: 2/1;
    }

    .seminar-card .primary-btn {
        padding: 8px 16px;
        font-size: inherit;
    }
    .seminar-lock-badge {
        width: 50px;
        height: 50px;
    }

    .seminar-lock-badge svg{
        width: 25px;
        height: 25px;
    }
}

.seminar-card-dashboard {
    display: grid;
    grid-template-columns: 150px 1fr;
}

.seminar-card-dashboard .seminar-description{
    margin:0 0 5px !important;
}

.seminar-card-dashboard .seminar-card-btn {
    margin-top: 0;
    display: flex;
    align-items: flex-start;
}

.seminar-card-dashboard .seminar-card-btn .primary-btn {
    margin-top: 0;
    width: auto;
    flex: 0 0 auto;
    padding: 8px 16px !important;
}