.seminar-container {
    font-family: inherit;
    max-width: 1100px;
    margin: 20px auto;
    padding: 24px 30px;
    border: 1px solid var(--border-color);
    background-color: var(--card-bg);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.seminar-container h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1f2937;
}

.seminar-container .seminar-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0 0;
}

.seminar-container .seminar-time {
    margin: 0;
}

.seminar-container .seminar-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    font-size: 0.85rem;
    color: var(--text-main);
    margin: 0 0 10px;
    white-space: unset;
}

.seminar-container .seminar-list .seminar-card {
    min-width: 0;
}

.seminar-container .seminar-list .primary-btn {
    padding: 8px 8px;
    font-size: 0.8rem;
}

.seminar-container .header-desc {
    margin: 0 auto 3rem;
    max-width: 38rem;
    color: #555;
    font-size: 1.05rem;
    line-height: 1.6;
    text-align: center;

}

.seminar-list {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

p {
    margin: 10px 0;
}

.seminar-description {
    margin-bottom: 0;
}


@media screen and (max-width: 768px) {

    .seminar-container .seminar-list
    {
        grid-template-columns: 1fr !important;
    }

        .seminar-card-dashboard {
            display: block;
        }

    .seminar-card-dashboard {
        display: flex;
    }

    .seminar-container {
        padding: 15px 20px 20px;
    }

    .seminar-container h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .seminar-container .header-desc {
        margin-bottom: 1.5rem;
    }

    .seminar-container h2 {
        margin-bottom: 15px;
        margin-top: 10px;
    }
        .seminar-container-dashboard h2 {
            margin-bottom: 0px;
            margin-top: 0px;
        }
}

@media (max-width: 380px) {
    .seminar-container h1 {
        font-size: 1.8rem;
    }
}